<%- include("partials/header"); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="titleContent">
  </div>
  <div class="form-group">
    <label for="article">Article</label>
    <textarea class="form-control" name="articleContent" rows="5" cols="50"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" name="publish">Publish</button>
  </div>
</form>

<%- include("partials/footer"); -%>
